.caller {
  display: flex;
  align-items: center;

  .photo {
    min-width: 43px;
    max-width: 43px;
    min-height: 43px;
    max-height: 43px;
    border-radius: 9999px;
    overflow: hidden;
  }
}

.caller-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  margin-left: 8px;
  letter-spacing: -0.02em;

  .device {
    color: #6c6c6c;
    font-size: 12px;
  }

  .name {
    color: #fff;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: -8px;
  }
}

.phone-booth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.phone {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.refuse {
    background-color: #f33939;

    .icon {
      width: 22px;
      position: relative;
      top: 1px;
    }
  }

  &.receive {
    background-color: #63e159;

    .icon {
      width: 17px;
    }
  }
}
