#root {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dynamic-island {
  width: 112px;
  height: 32px;
  position: relative;
}

.darkroom {
  background-color: #000;
  width: 112px;
  height: 32px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: width, height;
  box-sizing: border-box;
}

.hardware {
  width: 86px;
  height: 25px;
  background-color: #000;
  border-radius: 9999px;
}

.left,
.right {
  flex: 1;
}

.left {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.caller {
  display: flex;
  align-items: center;
}

.caller .photo {
  min-width: 43px;
  max-width: 43px;
  min-height: 43px;
  max-height: 43px;
  border-radius: 9999px;
  overflow: hidden;
}

.caller-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  margin-left: 8px;
  letter-spacing: -0.02em;
}

.caller-info .device {
  color: #6c6c6c;
  font-size: 12px;
}

.caller-info .name {
  color: #fff;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: -8px;
}

.right {
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phone-booth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.phone {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone.refuse {
  background-color: #f33939;
}

.phone.receive {
  background-color: #63e159;
}

.phone.refuse .icon {
  width: 22px;
  position: relative;
  top: 1px;
}

.phone.receive .icon {
  width: 17px;
}

.meta-animation-parts {
  position: absolute;
  right: -48px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.left-room {
  background-color: #000;
  border-radius: 9999px 0 0 9999px;
  width: 66px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: -1;
}

.left-room-item {
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.left-room-item .image {
  height: 15px;
}

.controls {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.github {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
